/* code-surfer styling */

.cs-content,
.cs-scaled-content {
    background: #212529 !important;
}

pre.cs-content {
    color: #adb5bd;
    font-size: unset;
}

/* div[class*='-CodeSticker'] div, */
.cs-content {
    border-radius: 10px;
}

span.token-tag {
    color: #b3d7ff;
}

span.token-attr-value {
    color: #17a2b8;
}

/* .cs-container,
.cs-container code {
    height: 100% !important;
} */

/* .scroller div > div:first-child {
    border-left: 2px solid #495057;
} */

/* .code-compact {
    max-height: 40vh;
    height: 40vh;
    transition: all 1s linear;
}

.code-stretched {
    height: 80vh;
    transition: all 1s linear;
} */

/* .cwave-component > div {
    height: unset;
} */