body {
	overflow-x: hidden;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #f8f9fa;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 35px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #f8f9fa;
	transition: 0.2s;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: white;
	background: rgba(255, 255, 255, 0.2);
	transition: 0.2s;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color: #f8f9fa;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: white;
	background: none;
}

@media (min-width: 768px) {
	#wrapper {
		padding-left: 250px;
	}
}

@media (min-width: 768px) {
	#wrapper.toggled {
		padding-left: 0;
	}
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		width: 250px;
	}
}

@media (min-width: 768px) {
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}
}

@media (min-width: 768px) {
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
}

@media (min-width: 768px) {
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

@media (min-width: 576px) {
	.card-columns.count-2 {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

#menu-toggle {
	position: relative;
	top: -20px;
	left: -10px;
}

.rounded-5 {
	border-radius: 0.5rem !important;
}
