@import 'bootstrap/scss/bootstrap.scss';

@import 'blog-post';
@import 'prism';

.stackcheats-header {
  color: #424242 !important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3 !important;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.card-deck-scrollable {
  @extend .card-deck;
  flex-direction: row;

  margin-left: 0;
  margin-right: 0;

  & > .card {
    @extend .mx-3;

    flex: 0 0 40% !important;
    margin-left: 0 !important;

    @include media-breakpoint-only(xs) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
