@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lora|Playfair+Display|Poiret+One|Sacramento&display=swap');

/* ================================================================================= */

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

html {
    height: 100vh;
}

.card-body .card-title a {
    color: #525252;
    font-weight: bold;
    text-decoration: none;
}

/* ================================================================================= */

.stackcheat-container {
	max-width: 740px !important;
	padding-left: 20px;
	padding-right: 20px;
}

/* .stackcheat-container .stackcheat--title,
.stackcheat--sub-title {
	font-family: 'Poiret none';
} */

.text-secondary-light {
    color: #8b8c8e!important;
}

.stackcheat--sub-title {
	margin-top: 0 !important;
}

.stackcheat-container h1.stackcheat--title {
	font-size: 2.75em !important;
}

.stackcheat-container h4.stackcheat--sub-title {
	font-size: 1.75em !important;
}

.stackcheat-tags .badge {
    margin-right: 0.5em;
    background-color: #3F51B5 !important;
    padding: 0.50em .5em;
    text-transform: uppercase;
}

.stackcheat-container > .stackcheat-body h1 {
    color: #bbbbbb !important;
	margin-top: 1.52em;
}

.stackcheat-container > .stackcheat-body h2,
.stackcheat-container > .stackcheat-body h3,
.stackcheat-container > .stackcheat-body h4 {
    color: #bbbbbb !important;
	margin-top: 2em;
}

.stackcheat-container > .stackcheat-body h1 {
	font-size: 1.75em;
}

.stackcheat-container > .stackcheat-body h2 {
	font-size: 1.5em;
}

.stackcheat-container > .stackcheat-body h3 {
	font-size: 1.25em;
}

.stackcheat-container > .stackcheat-body h4,
.stackcheat-container > .stackcheat-body h5 {
	font-size: 1em;
}

.stackcheat-container > .stackcheat-body .quote {
	font-size: 30px;
	line-height: 40px;
	padding-left: 30px;
	margin-top: 2em;
	margin-bottom: 2em;
	letter-spacing: -0.014em;
	text-align: left;
}

.stackcheat-container > .stackcheat-body blockquote {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-style: italic;
    font-size: inherit;
    border-left: 0.25rem solid #FFC107;
}

.stackcheat-container > .stackcheat-body h2 ~ p,
.stackcheat-container > .stackcheat-body h3 ~ p,
.stackcheat-container > .stackcheat-body h4 ~ p,
.stackcheat-container > .stackcheat-body h5 ~ p {
	margin-top: 1.75rem;
}

hr.three--dots {
    background-color: transparent !important;
	border-top: none !important;

	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;

	background: unset !important;
}

hr.three--dots::before {
	content: '...';
	letter-spacing: 0.6em;
	text-indent: 0.6em;
	margin-top: 30px;

	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;

	text-align: center;
    font-size: 28px;
    background: transparent !important;
}

/* ====================================================================== */

ul li pre {
    color: #17a2b8f2 !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	border: 0px !important;
	background-color: rgba(0, 0, 0, 0.02) !important;
}

pre[class*='language-'] {
	padding: 2em !important;
}

.card-horizontal {
	display: flex;
	flex: 1 1 auto;
}

a.ul-disabled:hover {
	text-decoration: none !important;
}

.img-square-wrapper > img {
	max-width: unset !important;
}

pre::-webkit-scrollbar,
.blob-wrapper::-webkit-scrollbar {
	height: 0.25em;
}

pre::-webkit-scrollbar-thumb,
.blob-wrapper::-webkit-scrollbar {
	/* background-color: #343a40; */
	background-color: #17a2b838;
}

/* Language Shell */
/* .gatsby-highlight pre[class*='language-'],
.gist .highlight,
.gist-data tbody {
    background-color: #212529 !important;
} */


/* GIST */

/* Line Numbers */
/* .gist-data tbody td:nth-of-type(1) {
  color: #adb5bd !important;
} */

/* Code */
/* .gist-data tbody td:nth-of-type(2){
  color: #FFFFFF !important;
} */

/* .gist .pl-s .pl-s1, .gist .pl-smi {
    color: #b3b7bb !important;
} */

/* Comments */
/* .pl-c
{
  color: #57A64A !important;
} */

/* Function */
/* .pl-k, tbody tr:first-child .blob-code, tbody tr:last-child .blob-code
{
  color: #569CD6 !important;
} */

/* Function Name */
/* .pl-en
{
  color: #FFFFFF !important;
} */

/* Function Method */
/* .pl-c1
{
  color: #FFFFFF !important;
} */
/* "'s around Strings */
/* .pl-pds
{
  color: #D69D85 !important;
} */

/* Strings */
/* .pl-s
{
  color: #D69D85 !important;
} */

/* .gist-data td {
	border-bottom: none !important;
}

.gist .gist-file,
.gist .gist-data {
    border: unset !important;
    border-color: unset !important;
    border-radius: unset !important;
}

.gist .blob-code-inner, 
.gist .blob-num {
    color: #657b83 !important;
}

.gist .pl-ii{
    background-color: rgba(0,0,0,.075) !important;
    color: #17a2b8 !important;
}

.gist .pl-pds, .gist .pl-s, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sra, .gist .pl-sr .pl-sre {
    color: #b3d7ff !important;
}

.gist .blob-wrapper {
    overflow-x: scroll !important;
}

.gist .gist-meta{
    background-color: transparent !important;
    border-radius: unset !important;
    color: unset !important;
} */

/* changeable themes */

#___gatsby,
html {
    /* background-color: #080808; */
    background-color: unset !important;
}

.stackcheat-body .card {
    /* background-color: rgba(0,123,255,.25) !important; */
    background-color: #24292e !important;
}

.card {
    background-color: #f6f8fa !important;
}